body{
  background-color: #EFEEF8;
}

#home-section{
  display: flex;
}

.menu-left{
  width: 106px;
  height:100%;
  background-color: white;
  position: fixed;
}

.menu-top{
  width: 100%;
  height: 106px;
  background-color: white;
}