body{
  background-color: #EFEEF8;
}

#home-section{
  display: flex;
}

.svg-logo{
  margin-top: 30px;
  margin-left: 31px;
}

.svg-menu-left{
  margin-top: 80%;
  margin-left: 44px;
  a:hover{
    color: #5E77FF;
  }
}

.menu-left{
  width: 106px;
  height:100%;
  background-color: white;
  position: fixed;
  border-style: solid;
  border-width: 1px;
  border-color: #98989852;
}


.menu-top{
  width: 100%;
  height: 106px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.input-css-search{
  width: 179px;
  height: 40px;
  margin-left: 20%;
  margin-top: 42px;
  padding-left: 9px;
  border-radius: 3px;
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: #fbfbfb;
}

#utilisateur-section{
  display: flex;
  flex-direction: row;
  h1{
    font-size: 38px;
    color: #233539;
    margin-left: 284px;
    margin-top: 30px;
    font-family: roboto, sans-serif;
  }
}



.container-home{
  width: 70%;
  height: 260px;
  background-color: white;
  display: flex;
  margin-top: 122px;
  margin-left: -14%;
  border-style: dotted;
  border-color: #5E77FF;
  border-width: 3px;

  p{
    font-size: 13px;
    color: #5E77FF;
    margin: auto;
    font-family: roboto, sans-serif;
  }
}

.btn-ajouter{
  width: 243px;
  height: 45px;
  right: 240px;
  margin-top: 40px;
  border-radius: 3px;
  position: absolute;
  background-color: #5E77FF;
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 45px;
  &:hover{
    background-color: #76aaff;
    color: #fff;
  }
}

.status-client{
  width: 300px;
  height: 45px;
  background-color: white;
  position: absolute;
  align-items: center;
  right: 500px;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
  li,a{
    color: #233539;
  }
}

.status-nom{
  width: 56%;
  height: 45px;
  position: absolute;
  align-items: center;
  right: 510px;
  margin-top: 81px;
  display: flex;
  justify-content: space-evenly;
}

.pagination{
  display: flex;
  display: none;
}

.page{
  width: 300px;
  height: 45px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
  line-height: 3;
  border-radius: 4px;
  cursor: pointer;
}

.active{
  width: 50px;
  height: 60px;
  background-color: #5E77FF;
  color: white;
  text-align: center;
  border-radius: 4px;
  margin-top: -7px;
  line-height: 4;
  cursor: pointer;
}

.listClientContainer{
  margin-top: 122px;
}

.container-home-client {
  width: 100%;
  height: 88px;
  background-color: white;
  display: flex;
  margin-top: 22px;
  margin-left: -14%;
  border-radius: 6px;
}


.th-css-disposition-name{
  display: flex;
  width: 811px;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: -818px;
  justify-content: space-evenly;
}

.table-home{
  display: flex;
  margin-top: 15px;
  margin-left: -45px;
}

.table-home-client{
  margin-top: 25px;
}

.bg-color{
  background-color: #EFEEF8;
}

.tr-accueil{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  width: 900px
}

.tr-accueil-data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 20px;
  width: 905px;
}

.td-a-venir{
  width: 75px;
  height: 25px;
  background-color: #FABC06;
  padding: 2px;
  line-height: 2;
  padding-left: 12px;
  color: white;
  margin-right: 40px;
  border-radius: 4px;
}
