body{
  background-color: #EFEEF8;
}

#home-section{
  display: flex;
}

.svg-logo{
  margin-top: 30px;
  margin-left: 31px;
}

.svg-menu-left{
  margin-top: 80%;
  margin-left: 44px;
  a:hover{
    color: #5E77FF;
  }
}

.menu-left{
  width: 106px;
  height:100%;
  background-color: white;
  position: fixed;
  border-style: solid;
  border-width: 1px;
  border-color: #98989852;
}


.menu-top{
  width: 100%;
  height: 106px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.input-css-search{
  width: 179px;
  height: 40px;
  margin-left: 20%;
  margin-top: 42px;
  padding-left: 9px;
  border-radius: 3px;
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: #fbfbfb;
}

#utilisateur-section{
  display: flex;
}

.title-home{
  h1{
    font-size: 38px;
    color: #233539;
    margin-left: 284px;
    margin-top: 30px;
    font-family: roboto, sans-serif;
  }
}

.container-home{
  width: 70%;
  height: 260px;
  background-color: white;
  display: flex;
  margin-top: 122px;
  margin-left: -14%;
  border-style: dotted;
  border-color: #5E77FF;
  border-width: 3px;

  p{
    font-size: 13px;
    color: #5E77FF;
    margin: auto;
    font-family: roboto, sans-serif;
  }
}

.btn-ajouter{
  width: 243px;
  height: 45px;
  right: 240px;
  border-radius: 3px;
  position: absolute;
  background-color: #5E77FF;
  color: white;
  cursor: pointer;
  &:hover{
    background-color: #76aaff;
  }
}

.status-client{
  width: 300px;
  height: 45px;
  background-color: #cccccc;
}