<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title><?= ucfirst($page)?> - FreelCRM</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="../assets/styles/css/app.css">
<body>

<div class="config-inner">
    <div class="config-inner__logo">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="246px" height="38px" viewBox="0 0 246 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Group</title>
            <defs>
                <polygon id="path-1" points="35.9177653 0.0987027907 0.0843205642 0.0987027907 0.0843205642 25.719874 35.9177653 25.719874 35.9177653 0.0987027907"></polygon>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="configuration" transform="translate(-311.000000, -77.000000)">
                    <g id="Group" transform="translate(311.000000, 70.000000)">
                        <polygon id="Fill-3" fill="#5E77FF" points="30 45 29.9558963 21.5784638 9 7 9.00077375 23.6391173"></polygon>
                        <polygon id="Fill-4" fill="#4864D8" points="0 14.6 9 14.6 9 7"></polygon>
                        <g id="Group-7" transform="translate(9.000000, 7.000000)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-6"></g>
                            <path d="M0.0849719008,16.8928099 C-0.0402842975,17.0191554 17.9418645,0.0986126512 17.9418645,0.0986126512 L35.9177653,0.144884279 L8.65624463,25.719874 L0.0849719008,16.8928099 Z" id="Fill-5" fill="#8199FC" mask="url(#mask-2)"></path>
                        </g>
                        <text id=".freelcrm" font-family="Roboto-Black, Roboto" font-size="44" font-weight="700" letter-spacing="1.571428" fill="#5E77FF">
                            <tspan x="52.4588474" y="41">.freelcrm</tspan>
                        </text>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="config-inner__form">
        <a href="#" class="profile-picture">
            <div class="profile-picture__img">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="100px" height="80px" viewBox="0 0 100 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>photo-camera</title>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="configuration" transform="translate(-441.000000, -284.000000)" fill="#ECECEC" fill-rule="nonzero">
                            <g id="Group-6" transform="translate(363.000000, 70.000000)">
                                <g id="Group-5" transform="translate(0.000000, 151.000000)">
                                    <g id="Group-3">
                                        <g id="Group" transform="translate(34.000000, 63.000000)">
                                            <g id="photo-camera" transform="translate(44.000000, 0.000000)">
                                                <path d="M50,30 C41.715,30 35,36.718 35,45 C35,53.285 41.715,60 50,60 C58.283,60 65,53.285 65,45 C65,36.718 58.283,30 50,30 Z M90,15 L78,15 C76.35,15 74.572,13.72 74.051,12.154 L70.949,2.845 C70.426,1.28 68.65,0 67,0 L33,0 C31.35,0 29.572,1.28 29.051,2.846 L25.949,12.155 C25.426,13.72 23.65,15 22,15 L10,15 C4.5,15 0,19.5 0,25 L0,70 C0,75.5 4.5,80 10,80 L90,80 C95.5,80 100,75.5 100,70 L100,25 C100,19.5 95.5,15 90,15 Z M50,70 C36.193,70 25,58.807 25,45 C25,31.194 36.193,20 50,20 C63.805,20 75,31.194 75,45 C75,58.807 63.805,70 50,70 Z M86.5,31.993 C84.568,31.993 83,30.427 83,28.493 C83,26.561 84.568,24.993 86.5,24.993 C88.434,24.993 90,26.561 90,28.493 C90,30.427 88.433,31.993 86.5,31.993 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="profile-picture__text">
                + ajouter une photo de profil
            </div>
        </a>
        <div class="form-inputs">
            <form>
                <label class="label-css-input" for="">Prénom</label>
                <input class="input-css-text-config" type="text" name="text" placeholder="John"><br>

                <label class="label-css-input" for="">Nom</label>
                <input class="input-css-text-config" type="text" name="text" placeholder="Doe"><br>

                <label class="label-css-input" for="">Choisissez la couleur de votre interface</label>
                <input class="input-color-picker" type="color"><br>

                <button class="btn-css-input-config" type="button">Valider</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>