/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_connect.scss */
#connexion-section {
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  width: 100%;
  height: calc(100vh - 32px);
}

/* line 8, ../sass/_connect.scss */
.title {
  display: flex;
  justify-content: center;
}
/* line 11, ../sass/_connect.scss */
.title h1 {
  color: white;
  font-size: 46px;
  font-weight: bold;
  padding-top: 7%;
  font-family: roboto, sans-serif;
}

/* line 20, ../sass/_connect.scss */
.connexion-block {
  width: 385px;
  height: 409px;
  background-color: white;
  margin: auto;
  margin-top: 2%;
  border-radius: 8px;
  display: flex;
}

/* line 30, ../sass/_connect.scss */
.input-connexion {
  margin: auto;
}
/* line 32, ../sass/_connect.scss */
.input-connexion h1 {
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 28px;
}

/* line 39, ../sass/_connect.scss */
.input-css-text {
  width: 325px;
  height: 40px;
  border: 1px solid #EFEEF8 !important;
  border-radius: 4px;
  background-color: #EFEEF8;
  padding-left: 10px;
  font-family: roboto, sans-serif;
}

/* line 49, ../sass/_connect.scss */
.label-css-input {
  font-size: 14px;
  font-family: roboto, sans-serif;
  font-weight: lighter;
  display: block;
  padding-bottom: 14px;
  padding-top: 14px;
}

/* line 58, ../sass/_connect.scss */
.input-css-text-link {
  text-decoration: none;
  color: #5E77FF;
  font-family: roboto, sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
/* line 64, ../sass/_connect.scss */
.input-css-text-link:hover {
  color: #7590ff;
}

/* line 69, ../sass/_connect.scss */
.btn-css-input {
  width: 130px;
  height: 48px;
  background-color: #5E77FF;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  border: none;
  margin: 30px auto 0 auto;
  font-size: 14px;
}
/* line 82, ../sass/_connect.scss */
.btn-css-input:hover {
  background-color: #7a8df5;
}

/* line 87, ../sass/_connect.scss */
.bottom-form {
  display: flex;
  position: absolute;
  width: 385px;
  height: 45px;
  margin-top: 29px;
  margin-left: -30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #EFEEF8;
  justify-content: center;
}

/* line 99, ../sass/_connect.scss */
a {
  text-decoration: none;
  margin-top: 15px;
  color: #5E77FF;
  font-family: roboto, sans-serif;
}
/* line 104, ../sass/_connect.scss */
a:hover {
  color: #7590ff;
}

/* line 110, ../sass/_connect.scss */
.btn-css-input-signup {
  width: 325px;
  height: 48px;
  background-color: #5E77FF;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  font-size: 14px;
  border: none;
}
/* line 120, ../sass/_connect.scss */
.btn-css-input-signup:hover {
  background-color: #7a8df5;
}

/* line 125, ../sass/_connect.scss */
.checkbox-input {
  text-align: center;
}

/* line 130, ../sass/_connect.scss */
.input-inscription {
  width: 385px;
  height: 543px;
  background-color: white;
  margin: auto;
  margin-top: 2%;
  border-radius: 8px;
  display: flex;
}
/* line 138, ../sass/_connect.scss */
.input-inscription h1 {
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 18px;
  padding-top: 30px;
}

/* line 146, ../sass/_connect.scss */
.form-grid {
  display: flex;
  flex-direction: column;
  padding-left: 8%;
}

/* line 152, ../sass/_connect.scss */
.bottom-form-inscription {
  display: flex;
  position: absolute;
  width: 385px;
  height: 45px;
  margin-top: 565px;
  margin-left: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #EFEEF8;
  justify-content: center;
}

/* line 165, ../sass/_connect.scss */
.checkbox-custom {
  position: absolute;
  opacity: 0;
}
/* line 168, ../sass/_connect.scss */
.checkbox-custom + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-top: 15px;
  margin-left: 30px;
}
/* line 176, ../sass/_connect.scss */
.checkbox-custom + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: #9B9B9B;
  margin-top: -2px;
}
/* line 191, ../sass/_connect.scss */
.checkbox-custom:hover + label:before {
  background: #5E77FF;
}
/* line 196, ../sass/_connect.scss */
.checkbox-custom:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
/* line 201, ../sass/_connect.scss */
.checkbox-custom:checked + label:before {
  background: #5E77FF;
}
/* line 206, ../sass/_connect.scss */
.checkbox-custom:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
/* line 212, ../sass/_connect.scss */
.checkbox-custom:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
/* line 218, ../sass/_connect.scss */
.checkbox-custom:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

/* line 1, ../sass/_accueil.scss */
body {
  background-color: #EFEEF8;
}

/* line 5, ../sass/_accueil.scss */
#home-section {
  display: flex;
}

/* line 9, ../sass/_accueil.scss */
.svg-logo {
  margin-top: 30px;
  margin-left: 31px;
}

/* line 14, ../sass/_accueil.scss */
.svg-menu-left {
  margin-top: 80%;
  margin-left: 44px;
}
/* line 17, ../sass/_accueil.scss */
.svg-menu-left a:hover {
  color: #5E77FF;
}

/* line 22, ../sass/_accueil.scss */
.menu-left {
  width: 106px;
  height: 100%;
  background-color: white;
  position: fixed;
  border-style: solid;
  border-width: 1px;
  border-color: #98989852;
}

/* line 33, ../sass/_accueil.scss */
.menu-top {
  width: 100%;
  height: 106px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

/* line 41, ../sass/_accueil.scss */
.input-css-search {
  width: 179px;
  height: 40px;
  margin-left: 20%;
  margin-top: 42px;
  padding-left: 9px;
  border-radius: 3px;
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: #fbfbfb;
}

/* line 54, ../sass/_accueil.scss */
#utilisateur-section {
  display: flex;
  flex-direction: row;
}
/* line 57, ../sass/_accueil.scss */
#utilisateur-section h1 {
  font-size: 38px;
  color: #233539;
  margin-left: 284px;
  margin-top: 30px;
  font-family: roboto, sans-serif;
}

/* line 68, ../sass/_accueil.scss */
.container-home {
  width: 70%;
  height: 260px;
  background-color: white;
  display: flex;
  margin-top: 122px;
  margin-left: 12%;
  border-style: dotted;
  border-color: #5E77FF;
  border-width: 3px;
}
/* line 79, ../sass/_accueil.scss */
.container-home p {
  font-size: 13px;
  color: #5E77FF;
  margin: auto;
  font-family: roboto, sans-serif;
}

/* line 87, ../sass/_accueil.scss */
.btn-ajouter {
  width: 243px;
  height: 45px;
  right: 240px;
  margin-top: 40px;
  border-radius: 3px;
  position: absolute;
  background-color: #5E77FF;
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 45px;
}
/* line 100, ../sass/_accueil.scss */
.btn-ajouter:hover {
  background-color: #76aaff;
  color: #fff;
}

/* line 106, ../sass/_accueil.scss */
.status-client {
  width: 300px;
  height: 45px;
  background-color: white;
  position: absolute;
  align-items: center;
  right: 500px;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
}
/* line 117, ../sass/_accueil.scss */
.status-client li, .status-client a {
  color: #233539;
}

/* line 122, ../sass/_accueil.scss */
.status-nom {
  width: 56%;
  height: 45px;
  position: absolute;
  align-items: center;
  right: 510px;
  margin-top: 81px;
  display: flex;
  justify-content: space-evenly;
}

/* line 133, ../sass/_accueil.scss */
.pagination {
  display: flex;
  display: none;
}

/* line 138, ../sass/_accueil.scss */
.page {
  width: 300px;
  height: 45px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
  line-height: 3;
  border-radius: 4px;
  cursor: pointer;
}

/* line 157, ../sass/_accueil.scss */
.active {
  width: 50px;
  height: 60px;
  background-color: #5E77FF;
  color: white;
  text-align: center;
  border-radius: 4px;
  margin-top: -7px;
  line-height: 4;
  cursor: pointer;
}

/* line 169, ../sass/_accueil.scss */
.listClientContainer {
  margin-top: 122px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(calc(-50% + 106px));
  -moz-transform: translateX(calc(-50% + 106px));
  -ms-transform: translateX(calc(-50% + 106px));
  -o-transform: translateX(calc(-50% + 106px));
  transform: translateX(calc(-50% + 106px));
}

/* line 180, ../sass/_accueil.scss */
.container-home-client {
  width: 100%;
  height: 88px;
  background-color: white;
  display: flex;
  margin-top: 22px;
  margin-left: -14%;
  border-radius: 6px;
}

/* line 191, ../sass/_accueil.scss */
.th-css-disposition-name {
  display: flex;
  width: 811px;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: -818px;
  justify-content: space-evenly;
}

/* line 200, ../sass/_accueil.scss */
.table-home {
  display: flex;
  margin-top: 15px;
  margin-left: -45px;
}

/* line 206, ../sass/_accueil.scss */
.table-home-client {
  margin-top: 25px;
}

/* line 210, ../sass/_accueil.scss */
.bg-color {
  background-color: #EFEEF8;
}

/* line 214, ../sass/_accueil.scss */
.tr-accueil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  width: 900px;
}

/* line 223, ../sass/_accueil.scss */
.tr-accueil-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 20px;
  width: 905px;
}

/* line 232, ../sass/_accueil.scss */
.td-a-venir {
  width: 75px;
  height: 25px;
  background-color: #FABC06;
  padding: 2px;
  line-height: 2;
  padding-left: 12px;
  color: white;
  margin-right: 40px;
  border-radius: 4px;
}

/* line 1, ../sass/_ajout-client.scss */
.container-fluid {
  position: fixed;
  margin: 24px auto 0 143px;
}
/* line 5, ../sass/_ajout-client.scss */
.container-fluid .back-container {
  background-color: #FFF;
  margin-bottom: 0.5rem;
  padding: 0.9rem;
}
/* line 10, ../sass/_ajout-client.scss */
.container-fluid .back-container__link {
  color: #7d7575;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
}
/* line 18, ../sass/_ajout-client.scss */
.container-fluid .back-container__link span {
  margin-left: 0.5rem;
}
/* line 24, ../sass/_ajout-client.scss */
.container-fluid .customer-container {
  background-color: #FFF;
}
/* line 28, ../sass/_ajout-client.scss */
.container-fluid .customer-container-inner {
  width: 1035px;
  margin: auto;
  padding: 2rem 2rem 6rem 2rem;
}
/* line 33, ../sass/_ajout-client.scss */
.container-fluid .customer-container-inner .form-group {
  width: 50%;
}
/* line 38, ../sass/_ajout-client.scss */
.container-fluid .customer-header {
  display: inline-block;
  width: 100%;
}
/* line 42, ../sass/_ajout-client.scss */
.container-fluid .customer-header__title {
  display: inline-block;
  font-size: 2rem;
}
/* line 47, ../sass/_ajout-client.scss */
.container-fluid .customer-header__group {
  float: right;
  display: inline-block;
}
/* line 53, ../sass/_ajout-client.scss */
.container-fluid .btn-css-input-primary {
  width: 127px;
  height: 45px;
  background-color: #5E77FF;
  border-color: #5E77FF;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
}
/* line 64, ../sass/_ajout-client.scss */
.container-fluid .btn-css-input-primary:hover {
  background-color: #475ac3;
  border-color: #475ac3;
}
/* line 70, ../sass/_ajout-client.scss */
.container-fluid .label-css-input-customer {
  font-size: 14px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  display: block;
  padding-bottom: 14px;
  padding-top: 14px;
}
/* line 79, ../sass/_ajout-client.scss */
.container-fluid .btn-css-input-secondary {
  display: block;
  line-height: 45px;
  text-align: center;
  width: 127px;
  height: 45px;
  background-color: #D3D3D3;
  border-color: #D3D3D3;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
}
/* line 94, ../sass/_ajout-client.scss */
.container-fluid .customer-form-inner {
  display: flex;
}
/* line 97, ../sass/_ajout-client.scss */
.container-fluid .customer-form-inner .input-css-text-customer {
  width: 325px;
  height: 40px;
  border: 1px solid #EFEEF8 !important;
  border-radius: 4px;
  background-color: #EFEEF8;
  padding-left: 10px;
}
/* line 106, ../sass/_ajout-client.scss */
.container-fluid .customer-form-inner .area-css-text-customer {
  border: none;
  border-radius: 4px;
  background-color: #EFEEF8;
  height: 19rem;
  width: 100%;
  margin: 0;
  padding: 0.7rem 0 0.7rem 10px;
}

/* line 1, ../sass/_configuration.scss */
.config-inner {
  width: 1100px;
  margin: auto;
  margin-top: 5%;
}
/* line 6, ../sass/_configuration.scss */
.config-inner__logo {
  width: 713px;
  margin: auto;
}
/* line 11, ../sass/_configuration.scss */
.config-inner__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 713px;
  margin: auto;
  margin-top: 5%;
}
/* line 19, ../sass/_configuration.scss */
.config-inner__form .profile-picture {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  border: 6px dashed #ececec;
  cursor: pointer;
}
/* line 29, ../sass/_configuration.scss */
.config-inner__form .profile-picture__text {
  font-size: 1.3rem;
  text-align: center;
  color: #ececec;
  padding-top: 2rem;
  font-weight: 500;
  width: 80%;
}
/* line 39, ../sass/_configuration.scss */
.config-inner__form .form-inputs {
  width: 55%;
  height: 20rem;
}
/* line 43, ../sass/_configuration.scss */
.config-inner__form .form-inputs .input-css-text-config {
  width: 100%;
  height: 40px;
  border: 1px solid #EFEEF8 !important;
  border-radius: 4px;
  background-color: #EFEEF8;
  padding-left: 10px;
  font-family: roboto, sans-serif;
}
/* line 53, ../sass/_configuration.scss */
.config-inner__form .form-inputs .btn-css-input-config {
  width: 60%;
  height: 48px;
  background-color: #5E77FF;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  font-size: 14px;
  border-color: #5E77FF;
}
/* line 64, ../sass/_configuration.scss */
.config-inner__form .form-inputs .btn-css-input-config:hover {
  background-color: #7a8df5;
  border-color: #7a8df5;
}
/* line 70, ../sass/_configuration.scss */
.config-inner__form .form-inputs .input-color-picker {
  border: none;
  width: 15%;
  height: 2rem;
}

/* line 1, ../sass/global.scss */
body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #233539;
}

/* line 6, ../sass/global.scss */
* {
  box-sizing: border-box;
}

/* line 10, ../sass/global.scss */
.tesst {
  color: red;
}
